<!DOCTYPE html>

<head>
  <title> Villanova's Astronomy Department Archive </title>
  <link rel="stylesheet" type="text/css" href="stars/static/BASE.css" >
</head>

<body> { % block content % } </body>

<footer> 
  <h5> Contact information: <a href="mailto:gguzman2@villanova.edu" target = "blank"> Giannina Guzman </a> <br>
  Visit Villanova's Website: <a href="http://www1.villanova.edu/main.html" target = "blank"> Villanova University </a> <br>
  Visit Villanova's Department of Astronomy and Astrophysics: <a href= "https://www1.villanova.edu/villanova/artsci/astronomy.html" target = "blank"> Department of Astronomy and Astrophysics </a> </h5>
</footer>