<!DOCTYPE html>

<head>
  <title> Villanova's Astronomy Department Archive </title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'Trial.css' %}" >
</head>

<h1> Catalog of Variables and Eclipsing Binaries </h1>

<h2> Directory
  <ul> 
    <li> <a href ="http://153.104.133.58:8000/stars/star_list.html" target = blank> Visit The Catalog! </a> </li>
    <li> <a href ="trial3.html" target = blank> Learn More About the Project! </a> </li>
    <li> <a href ="http://www1.villanova.edu/main.html" target = blank> Learn More About Villanova University!  </a> </li>
</h2>

<p> The Astronomy and Astrophysics Department at Villanova University has been in ownership of <br> 
an extensive catalog of variables and eclipsing binaries for a few years now. This year, Dr. <br>
Andrej Prsa decided to make the digitizing of the archive a project for students Giannina <br>
Guzman, and Briana Dalton. </p>

<p> This project includes: </p>

<ol>
  <li> The creation of an empty database </li>
  <li> The data-entry </li>
  <li> The processing of said data </li>
  <li> The production of a website showing said data </li>
</ol>

<p> Up to now, the team has worked with Django to create an empty database and an interface for <br>
data-entry. The next step will require volunteer help to enter the data into the database. <br>
Since this archive is extensive, and handwritten, this process will take some time, and <br>
it might prove to be one of the most challenging parts of the project. </p>

<p> Once the data is entered in the database, the team will work on publicizing the data online <br>
by developing a website that will carry and display the data entered in the database. This <br>
website will be made to showcase the archival data that had been buried for years in metal <br>
containers somewhere in a cold room. </p>

<footer> 
  <h5> Contact information: <a href="mailto:gguzman2@villanova.edu"> Giannina Guzman </a> <br>
  Visit Villanova's Website: <a href="http://www1.villanova.edu/main.html" target = "blank"> Villanova University </a> <br>
  Visit Villanova's Department of Astronomy and Astrophysics: <a href= "https://www1.villanova.edu/villanova/artsci/astronomy.html" target = "blank"> Department of Astronomy and Astrophysics </a> </h5>
</footer>